// Color
$color-primary: rgb(62, 111, 244);
$second-color: rgb(13, 23, 48);
$color-white: #ffffff;

// Font
$default-font-size: 1.6rem;

// GRID
$columns: 12; // Number of columns in the grid system
$grid-width: 115rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
